html {
	font-size: 2vw;
}
body {
	font-family:arial;
	background-image: url(maison/album/motif.png);
	background-size: 9em;
/*	font-size:1.5em;*/
	width:75vw;
	margin:1em auto;
}
body.athos {
	background-color: #896132;
	
}
body.porthos {
	background-color: #353289;
	
}
body.aramis {
	background-color: #32893f;
	
}
div.interface {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 3em 4em;
	border: .12em solid rgba(0, 0, 0, 1);
}
h1 {
	margin: 0;
	font-size: 3em;
}
p {
	margin:1.8em 0;
	text-align: justify;
	line-height: 1.8;
}
img {
	width: 6em;
}
span#fin:target {
	font-weight:bold;
	font-size:8em;
	color:#c60d22;
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,.2);
	text-align:center;
	display:table;
	width:100%;
	height:100%;
}
span#fin:target:before {
	text-shadow:.1em .1em .1em rgba(0,0,0,.5);
	content:"BRAVO!";
	vertical-align:middle;
	display:table-cell;
}
